language: ruby
rvm:
- 2.0.0
- 1.9.3
- jruby-19mode
- rbx-2
branches:
  only: master
  cache: bundler
env:
  global:
  - secure: smOv7LL3jAEXQbIELVci6CFMzeNOrtoTNCXrK+lTNTA5inkm5GQwR/6tqmsdxsph0oct/xK/nE5sIUX7O8DeSoSA+4wO2waFjerjI2WvuXVHgWmXG+ob1d8vMULcKnjrcT8lBRfjJFg9Qhgb7oVmBJiNVbA5Pmjfdbe/5seCQBBpmPNTJ3n+5PQrth3eGIRzRhC/eNcUNtk06Qwwl1Zch1alHoCDJpIlgT5bhGaAUBDTV7JEgykiIwZbIF7Dr7dXoRCqYoh05Du+ahznn3uTK+3DC1VqrIW+gCJTKcx7YUl+RFzjc6J/grVQtE2khGq0Bb0Q3y67VWJyEqUFBlch8mFOsMQCxGsdn/CZdwShHxQG3ZFtMEOrHiXtMnRT8b4Slt6kghJ/2YdEECdovrYodTE2OsjdiLrRRR+VUqpRaR/AIGhpufCnwqA06DSE2rVUcTcP9zLNEpSKCSdxUhrRynhH/L0oDczIODyCQTW1YOAdmMYN044jK2HW5S1Ed1UjuvPu7B44CWhTsusGTmqX3qwUR5mCLgIlEeYYtvpwdkMtoOs7eMTSE1w00PqIFM4Rgn8ecyktZCEPsjL6LiN52n6UFUv0LoTrg4OT6dkjYOly7Nk6POVFCwvhJ6xbJwkUkke2agVgbJJUjTxctbmRtAevq6cub5DsnLFTDN+TdQg=
  - secure: ovb4uE1oce1FrPV/WhZ5hVsSFK9P/0E19jlzHEzbFsqc2o3VU6eKtf0wN0sabp6mnWMfJlvdIuQpIIgLnpZDrR550OvZXFhu+8oYlXX0AMUZInPezi7+AV7aiumQt65gnIxglnvVOZdVRDkNAbNlamB3xTKtyv1bIQBrt21MapGh/bbIQjMzbQ3pVOYR6F8qt72PPKSIOwdgIXXlESCsnhRZBYobIS/mEjQBLOYKCXVQ1pbJMKs2MJdVeAvfml7s13OXsOmF0kmEYiqKwKjOY7Ou2pxs6Lp3mpcEHWc7j33ZIJ4WAbOkN4nEV5pQcv6QajSVRiU2TMHlUF3S1z4bUSNrzUz0uUKhdc0U2bvNYqYM+B2+/8HGoVWysprP5IkRjZeefWWFfv1bvzoQR0/b8RyItR+GkYpGEWO3WMOPsAql4alb+4THMNe5aUzHQQIMgGOIDp8A0P9yUiQm1lnRC6bOXD9gIxjWW0rc4+y08DleR4lgQxf0qQMlrWHLrdrK/Mtxb3AhG/bjYx28Ly/JOU17g5Dh2YCO5NkcP+/4jwrmXgAIylU9RRAX5fmL7IzXdmMoQveuVCBbJHhvIBRt2KWtbKiRXjgrDrn4WUo8LF3V3Le6NQSOPfGgWIizPgVuE//uwf71Uu1YcFSeJCcFLZHAiljb3KjHI28shm/k7fs=
before_install:
  - npm install -g gulp
script:
  - gulp build
  - bundle exec rake deploy
